/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  height: 1.5px;
}

html, body {
  height: 100%;
}

.preview-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.app-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.release-date {
  color: grey;
  font-size: 60%;
  margin-left: 30px;
}